<launch>
    <rosparam command="load" file="$(find sunrise)/param/waypoint.yaml" />

    <node name= "simulation_main" pkg="sunrise" type="simulation_main.py" output="screen" />
    <node name= "gps_log" pkg="sunrise" type="gps_log.py" />
    <node name= "winch" pkg="sunrise" type="winch_ros.py" />
    <node name= "gripper_ros" pkg="sunrise" type="gripper_ros.py"/>
    
</launch>
